div.issue {
	float: left;
	width: 150px;
	margin: 10px;
}

div.issue h3 {
	text-align: center;
}

.clear{
	width: 100%;
	clear:both;
}

/*======DATE PICKER ===============*/

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../img/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

ul#thumbs {
	list-style-type: none;
	width: 100%;
	clear: both;
	display: inline-block;
}

ul#thumbs li {
	float: left;
	margin: 10px;
}

ul#thumbs li img {
	border: 8px solid #DDD;
}

div.shelf {
	display: none;
}

